@import "./vars.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}
body {
  background-color: #f7f7fd;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  all: unset;
}

.clr-mystical {
  color: var(--clr-mystical);
}
.clr-physical {
  color: var(--clr-physical);
}
.clr-energy {
  color: var(--clr-energy);
}
