@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200&display=swap");
$font: "Nunito Sans", sans-serif;

:root {
  --clr-p: #7065f0;
  --background-clr: #fff;
  --background-clr-grey: #e8ecef;
  --font-clr: #000000;
  --font-clr-grey: #8a8a8a;
  --clr-mystical: #146183;
  --clr-physical: #83322f;
  --clr-energy: #317349;
  --font2: "Big Shoulders Display", "cursive";
}
[data-theme="dark"] {
  --clr-p: #61c554;
  --background-clr: #131313;
  --background-clr-grey: #000;
  --font-clr: #fff;
  --font-clr-grey: #8a8a8a;
  --clr-mystical: #15ade0;
  --clr-power: #f0425c;
  --clr-energy: #1a6c4b;
}
